@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

* {
    box-sizing: border-box;
}

footer p h5{
    text-align: center;
}

table, th, tr, td {
    border: 2px solid black;
    border-radius: 10px;
  }

  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  
.slidetext {
  animation-name: slidetext;
  animation-duration: 1s;
  visibility: visible;
}


@keyframes slidetext {
  0% {
      opacity: 0;
      transform: translateX(-70%);
  }
  100% {
      opacity: 1;
      transform: translateX(0%);
  }
}


/* Responsive
------------------------------------*/

@media screen and (min-width:750px) {
  .project-item img {
      float: left;
      margin-right: 20px;
  }
  .job-item {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 20px;
  }
  .contact-list {
      display: flex;
      justify-content: center;
  }
}

@media screen and (max-width:749px) {
  h1 {
      font-size: 75px;
      line-height: 0.9;
      margin-bottom: 20px;
  }
  h2 {
      line-height: 1;
  }
  .contact-list a {
      padding: 5px;
  }
}